# Ignore Python virtual environment
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS/system files
.DS_Store
Thumbs.db